<script>
    require([
        "dojo/ready",
        "dijit/form/Select",
        "dojox/form/CheckedMultiSelect",
        "dijit/form/Button",
        "dojo/domReady!"
    ]
    // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
</script>
<strong><label for="email" style="display:inline-block;width:100px;">Plan:</label></strong>
<select id="planList{{key_id}}" data-dojo-type="dijit.form.Select" name="planSelect">
{% for p in plans %}
  {% if p.pid == currplan %}
    <option value="{{p.pid}}" selected=true>{{p.name}}</option>
  {% else %}
    <option value="{{p.pid}}">{{p.name}}</option>
  {% endif %}
{% endfor %}
</select>
<br />
<br />
<strong><label for="pass" style="display:inline-block;width:100px;">Add-Ons:</label></strong>
<select id="addOnList{{key_id}}" data-dojo-type="dojox.form.CheckedMultiSelect" name="addOnSelect" multiple=true>
{% for a in addons %}
  {% if a.pid in curraddons %}
    <option value="{{a.pid}}" selected=true>{{a.name}}</option>
  {% else %}
    <option value="{{a.pid}}">{{a.name}}</option>
  {% endif %}
{% endfor %}
</select>
<br />
<input type='hidden' data-dojo-type='dijit.form.TextBox' name='csrfmiddlewaretoken' 
       value='{{csrf_token}}' id='csrfmiddlewaretoken{{key_id}}' />
<button data-dojo-type="dijit.form.Button" type="submit">Submit</button>
<br />
